
:root{
    --primary-color: linear-gradient(135deg, rgba(111,225,231,0.2)0%,rgba(72,56,149,0.8)100%);
    --white : #FAFAFA;
    --light-black: rgba(0, 0, 0, .7);
    }
    
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    
}
    
html{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    box-sizing: border-box  ;
}
    
a{
    text-decoration: none;
}

ul{
    list-style: none;
}

p{
    font-size: 1.6rem;
}

img{
    width: 100%;
    max-width: 100%;
    height: auto;
}

section{
    padding: 5rem 0;
}

/* body{
    background-color: cornflowerblue;
} */
    
header{
    width: 100%;
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
    
.container{
    width: 100%;
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}
    
.nav_container.scroll{
    background-color: var(--white);
    transition: background-color 0.5s;
}
    
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}
    
.nav-brand{
    width: 3rem;
}
    
.nav-brand h2{
    color: var(--light-black);
    transition: color 0.5s;
}

.menu-icons i{
    color: var(--white);
    font-size: 3rem;
    cursor: pointer;
}

.menu-icons i.active{
    color: var(--light-black);
    transition: color 0.5s;
}

.close i{
    color: var(--white);
}

.nav-list{
    width: 25rem;
    height: 100vh;
    background-color: #d7d4ed;
    position: fixed;
    top: 0;
    right: -26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    transition: all 650ms ease-in-out;
}

.nav-list.active{
    right: 0;
}

.close{
    position: absolute;
    top: 1rem;
    left: 1.5rem;
}
    
.nav-item{
        margin: 1.5rem 0;
    }

.nav-link{
     font-size: 1.6rem;
    text-transform: uppercase;
    color: var(--light-black);
}
    

.hero{
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, rgba(111,225,231,0.2)0%,rgba(72,56,149,0.8)100%),url("../img/hero.jpg") center,no-repeat;
    background-size: cover;
    position: relative;
    }

.hero::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 4.7rem;
    background: url("../img/wave-small.png")center no-repeat;
    background-size: cover;
}

.main-message{
        margin-top: 30%;
        width: 100%;
        max-width: 50rem;
        text-transform: uppercase;
        color: var(--white);
        transform: translateY(20%);
    }

.main-message h3{
    font-size: 1.6rem;
}

.main-message h1{
    font-family: 'Aldrich', sans-serif;
    font-size: 4rem;
    margin: 2rem 0;
    }

.main-message p{
    text-transform: lowercase;
}

.btn{
    background-color: #eb648c;
    border-radius: 2rem;
    color: var(--white);
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    transition: background-color 650ms;
}

.btn:hover{
    background-color: #ce587b;
}

/* ***************** */
/* ***** flash ***** */
/* ***************** */

#toats{
    position: fixed;
    top:8rem;
   right: 1rem;
    background-color: var(--light-black);
    color: var(--white-fa);
    border-radius: 4px;
    min-width: 80px;
    max-width: 80%;
    font-size: 16px;
    z-index:  1;
    padding: 1rem;
    box-shadow: 0 0 29px rgba(0,0,0,.3);
    text-transform: uppercase;
   transition: ease-in-out 650ms;
}
#toats.hiden{
    visibility: hidden;
}
#toats .toats_header{
    border-bottom: 0.1rem solid var(--light-white);
    margin-bottom: 4px;
}
#toats .toats_header.alert-succes{
    background-color: green;
}
#toats .toats_header.alert-danger{
    background-color: red;
}
#toats .toats_die{
   position: absolute;
   top: 4px;
   right: 10px;
   color: #FFF;
   cursor: pointer;
}
#toats .toats_die a{
    text-decoration: none;
    font-size: 0.5rem;
}
#toats .toats_core p{
    font-size: 1rem;
    font-family: var(--roboto);
}
#toats.hiden{
    visibility: hidden;
}